<!---div>
  <div id="tabulator-div"></div>
  <button (click)="clickme()">Click me</button>
</div--->


<div id="container" style="padding: 32px; height: 560px; width: 480px; position: relative; background: #F3F3F3">
  <deckgo-drr style="--width: 20%; --height: 10%; --top: 5%; --left: 10%; --rotate: 45deg;">
    <div style="background: red;"></div>
  </deckgo-drr>
  <deckgo-drr style="--width: 20%; --height: 10%; --top: 5%; --left: 10%; --rotate: 45deg;">
    <div ><h1>oi</h1></div>
  </deckgo-drr>
  <deckgo-drr style="--width: 20%; --height: 10%; --top: 5%; --left: 10%; --rotate: 45deg;" text="true">
    <div>
      <div id="tabulator-div"></div>
    </div>
  </deckgo-drr>
</div>

<div>
  <button (click)="clickme()">Print Data</button>
  <button (click)="addElement()">Add table</button>
</div>
